table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid green;
    padding: 8px;
    text-align: left;
}

th {
    background-color: lightslategray;
}

tr:hover {
    background-color: darkcyan;
}
